Pillow==11.0.0
faiss-cpu==1.9.0
hdbscan==0.8.40
joblib==1.5.3
langchain-community==0.3.7
langchain-text-splitters==0.3.2
langchain==0.3.7
lightning==2.6.5
numpy==2.4.4
pandas==2.2.3
pytorch-forecasting==1.7.0
pytorch-lightning==2.6.5
requests==2.32.3
scikit-learn==1.8.0
sentence-transformers==3.2.1
sentencepiece==0.2.0
shap==0.46.0
torch==2.12.1
torch_geometric==2.8.0
transformers==4.46.0
